* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding-top: 60px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #fdf4e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D7BFA5;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}

.logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-items a {
    margin: 0 75px;
    text-decoration: none;
    color: #513726;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-icons a {
    color: #333;
    margin: 0 75px;
}

.hero {
    position: relative;
    background: url('CBSicon/careerbg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f4a261;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #e76f51;
}


.icon-btn {
    background-color: #513726;
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 5px;
    cursor: pointer;

}
.icon-btn:hover {
    background-color: #e76f51;
}


.icons_container_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons_container_inner span {
    margin: 0 10px; 
    font-size: 20px;
}


