* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding-top: 60px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #fdf4e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D7BFA5;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}

.logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-items a {
    margin: 0 75px;
    text-decoration: none;
    color: #513726;
    font-weight: bold;
    font-size: 1.5rem;
}


.nav-icons a {
    color: #333;
    margin: 0 75px;
}

.hero {
    position: relative;
    background: url('CBSicon/bgimg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
    overflow: hidden;
}

.hero-content {
    z-index: 10;
    opacity: 1;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    text-align: center;
    z-index: 1;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f4a261;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #e76f51;
}





.icon-btn {
    background-color: #513726;
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 5px;
    cursor: pointer;

}
.icon-btn:hover {
    background-color: #e76f51;
}


.icons_container_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons_container_inner span {
    margin: 0 10px; 
    font-size: 20px;
}


.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.button-link:hover {
    background-color: #e76f51;
}


/*-------REGISTERACCOUNT-------*/
.registration-container {
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #D7BFA5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    font-weight: bold;
    margin-top: 0px;
}

.registration-form input {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.register-btn {
    padding: 10px;
    background-color: #f4a261;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
}

.register-btn:hover {
    background-color: #e76f51;
}




/*-------LOGINACCOUNT-------*/
.registration-container {
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin:  auto;
    border-radius: 15px;
    border: 2px solid #D7BFA5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    font-weight: bold;
    margin-top: 0px;
}

.registration-form input {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.register-btn {
    padding: 10px;
    background-color: #f4a261;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
}

.register-btn:hover {
    background-color: #e76f51;
}
